html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; 
}

body {
  display: flex;
  flex-direction: column; /* o row, según necesites */
  -webkit-scrollbar: none;
}

#root {
  flex: 1; /* hace que el contenido React llene el body */
  display: flex; /* si quieres flex dentro del root también */
}

/* Custom scrollbar */
.custom-scrollbar {
  overflow: auto;
  scrollbar-gutter: stable both-edges;
  padding-right: 10px;
}

/* Normal scrollbar style */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

/* Color and appearance of the "thumb" when not hovering */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Changes the "thumb" color when hovering over the container */
.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  margin-bottom: 9px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  opacity: 1;
}

/* Changes the "thumb" color when hovering over the thumb */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}