html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; 
}

body {
  display: flex;
  flex-direction: column; /* o row, según necesites */
  -webkit-scrollbar: none;
}

#root {
  flex: 1; /* hace que el contenido React llene el body */
  display: flex; /* si quieres flex dentro del root también */
}